/ClientUI/bin/Debug
/ClientUI/.vs/ClientUI/v15
/ClientUI/obj/Debug
/ClientUI/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist.1.1.28
/ClientUI/packages/NServiceBus.7.1.0-beta0026/NServiceBus.7.1.0-beta0026.nupkg
/ClientUI/packages/NServiceBus.7.1.0-beta0026/analyzers/dotnet/cs/NServiceBus.Core.Analyzer.dll
/ClientUI/packages/NServiceBus.7.1.0-beta0026/lib/net452/NServiceBus.Core.dll
/ClientUI/packages/NServiceBus.7.1.0-beta0026/lib/net452/NServiceBus.Core.pdb
/ClientUI/packages/NServiceBus.7.1.0-beta0026/lib/net452/NServiceBus.Core.xml
/ClientUI/packages/NServiceBus.7.1.0-beta0026/lib/netstandard2.0/NServiceBus.Core.dll
/ClientUI/packages/NServiceBus.7.1.0-beta0026/lib/netstandard2.0/NServiceBus.Core.pdb
/ClientUI/packages/NServiceBus.7.1.0-beta0026/lib/netstandard2.0/NServiceBus.Core.xml
/ClientUI/packages/NServiceBus.7.1.0-beta0026/tools/init.ps1
/ClientUI/packages/NServiceBus.7.1.0-beta0026/tools/install.ps1
/ClientUI/packages/NServiceBus.7.1.0-beta0026/tools/uninstall.ps1
/ClientUI/packages/NServiceBus.RabbitMQ.5.0.0/NServiceBus.RabbitMQ.5.0.0.nupkg
/ClientUI/packages/NServiceBus.RabbitMQ.5.0.0/lib/net452/NServiceBus.Transport.RabbitMQ.dll
/ClientUI/packages/NServiceBus.RabbitMQ.5.0.0/lib/net452/NServiceBus.Transport.RabbitMQ.pdb
/ClientUI/packages/NServiceBus.RabbitMQ.5.0.0/lib/net452/NServiceBus.Transport.RabbitMQ.xml
/ClientUI/packages/NServiceBus.RabbitMQ.5.0.0/lib/netstandard2.0/NServiceBus.Transport.RabbitMQ.dll
/ClientUI/packages/NServiceBus.RabbitMQ.5.0.0/lib/netstandard2.0/NServiceBus.Transport.RabbitMQ.pdb
/ClientUI/packages/NServiceBus.RabbitMQ.5.0.0/lib/netstandard2.0/NServiceBus.Transport.RabbitMQ.xml
/ClientUI/packages/RabbitMQ.Client.5.0.1/RabbitMQ.Client.5.0.1.nupkg
/ClientUI/packages/RabbitMQ.Client.5.0.1/lib/net451/RabbitMQ.Client.dll
/ClientUI/packages/RabbitMQ.Client.5.0.1/lib/net451/RabbitMQ.Client.xml
/ClientUI/packages/RabbitMQ.Client.5.0.1/lib/netstandard1.5/RabbitMQ.Client.dll
/ClientUI/packages/RabbitMQ.Client.5.0.1/lib/netstandard1.5/RabbitMQ.Client.xml
/ClientUI/.vs/ClientUI/DesignTimeBuild/.dtbcache
/Common/bin/Debug/netstandard2.0
/Common/obj
/Handlers/bin/Debug
/Handlers/obj/Debug
/Messages/bin/Debug
/Messages/obj/Debug
